<%
var title = 'Projects';
%>

<div class="row">
    <div class="col-sm-12">

        <!--Title and Logo-->
        <%- partial('_partial/header.ejs', {logoIcon: 'fa-code-fork', headerTitle: title}) %>

        <section id="projects" class="main archive-container">
            Loading...
        </section>
    </div>
</div>

<script>

 const url = '<%= theme.gitlab %>';

 const reformat = ({name, name_with_namespace, http_url_to_repo, created_at }) => {
     const deleted = name.indexOf('deleted') > -1 ? true : false;
     return {
         name: name,
         deleted,
         fullname: name_with_namespace,
         created: created_at,
         url: http_url_to_repo,
     };
 };

 const mapToView = ({name, fullname, url}) => {
     return `<div class="archive-post">
               <a href="` + url + `">` + fullname + `</a>
             </div>`;
 };

 const render = (data) => {
     $('#projects').html(data.join(''));
 };

 fetch(url)
     .then(data => data.json())
     .then(data => data.map(reformat))
     .then(data => data.filter(p => !p.deleted))
     .then(data => data.map(mapToView))
     .then(render);

</script>


